/* variables para definir medias q por si en un futuro se necesita de otra medida*/
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}
.contacto .g-map {
  background-color: #705790;
  padding: 20px;
}
.contacto .g-map iframe {
  width: 100%;
  height: 350px;
  border: 1px solid #6f4e78;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Ajustes para vista desktop*/
@media (min-width: 1200px) {
  .contacto {
    min-height: 100vh;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo titulo" "texto0 mapa" "titulo2 mapa" "texto1 mapa";
    gap: 10px;
    align-items: center;
  }
  .contacto h2 {
    grid-area: titulo;
    font-size: 2.5rem;
    justify-self: center;
  }
  .contacto h3 {
    grid-area: titulo2;
    font-size: 2rem;
  }
  .contacto #direccion {
    grid-area: texto0;
    font-size: 1.4rem;
  }
  .contacto #cel-mail {
    grid-area: texto1;
  }
  .contacto .g-map {
    grid-area: mapa;
    width: 450px;
    height: 450px;
    justify-self: center;
  }
  .contacto .g-map iframe {
    width: 400px;
    height: 400px;
  }
}
/* variables para definir medias q por si en un futuro se necesita de otra medida*/
/*estilo servicios
border: 3px solid #380d59;
background-color: #ead9ee;
*/
.contenedor-servicios {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, nimax(250px, 1fr));
  gap: 20px;
}
.contenedor-servicios .servis {
  background-color: #ead9ee;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  text-align: center;
  padding: 10px;
}
.contenedor-servicios .servis img {
  border-radius: 10px;
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.contenedor-servicios .servis:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.contenedor-servicios .servis:hover img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.contenedor-servicios .servis h2 {
  font-size: 1.5rem;
  margin: 15px 0;
  color: #280d39;
  font-weight: 700;
}
.contenedor-servicios .servis .descripcion {
  font-size: 1rem;
  color: #380d59;
  margin: 10px;
  padding: 0 15px;
}
.contenedor-servicios .servis .precio {
  font-size: 1.25rem;
  font-weight: bold;
  color: #380d59;
  margin: 15px 0;
}
.contenedor-servicios .servis .btn-cita {
  margin-top: 10px;
  background-color: #380d59;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  grid-area: btn;
}
.contenedor-servicios .servis .btn-cita:hover {
  background-color: #280d39;
}

@media (min-width: 1200px) {
  .contenedor-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .contenedor-servicios .servis img {
    width: 300px;
    height: 400px;
  }
}
/* variables para definir medias q por si en un futuro se necesita de otra medida*/
.contenido-formulario {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 1px;
  gap: 10px;
}
.contenido-formulario .form-cuenta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #755c7c;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom rigth, #d097f6, #0d0711);
  border-radius: 10px;
  font-family: "ubuntu";
}
.contenido-formulario .form-cuenta input {
  border: 1px solid #a059b0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

@media (min-width: 1200px) {
  .contenido-formulario {
    flex-direction: row;
  }
  .contenido-formulario .form-cuenta {
    display: flex;
    flex-direction: row;
    width: 600px;
    flex-wrap: wrap;
    gap: 15px;
  }
}
/* variables para definir medias q por si en un futuro se necesita de otra medida*/
.contenido-formularior {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 1px;
  gap: 10px;
}
.contenido-formularior .form-cuentar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #755c7c;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom rigth, #d097f6, #0d0711);
  border-radius: 10px;
  font-family: "ubuntu";
}
.contenido-formularior .form-cuentar input {
  border: 1px solid #a059b0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

@media (min-width: 1200px) {
  .contenido-formularior {
    flex-direction: row;
  }
  .contenido-formularior .form-cuentar {
    display: flex;
    flex-direction: row;
    width: 600px;
    flex-wrap: wrap;
    gap: 15px;
  }
}
/* variables para definir medias q por si en un futuro se necesita de otra medida*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*estilo header*/
header {
  padding-top: 0;
  background: linear-gradient(to bottom, rgb(183, 169, 189), rgb(225, 196, 243));
  height: 100%;
  width: 100%;
}
header img {
  height: auto;
  width: 250px;
}

/*estilo barra nav*/
ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

li {
  display: block;
  margin: 10px;
  text-align: center;
}

/*estilo titulos/textos*/
h1 {
  color: rgb(118, 79, 124);
  font-size: 2rem;
  font-family: "Dancing+Script";
  text-align: center;
  font-weight: 300px;
  text-shadow: 2px 2px 4px #888;
}

h2 {
  font-size: 1.5rem;
  font-family: "Ubuntu";
  text-align: center;
}

h3 {
  font-size: 1.7rem;
  font-family: "Ubuntu";
  text-align: center;
}

p {
  text-align: center;
  color: rgb(89, 61, 101);
  font-family: "Ubuntu";
  font-size: 1.3rem;
  text-align: center;
}

/*estilo home*/
.divHome {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divHome .logo img {
  max-width: 400px;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInBounce 3s forwards;
}
@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.divHome .contenido-texto {
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}
.divHome .contenido-texto p {
  font-size: 20px;
}
.divHome .carousel {
  max-width: 70%;
  margin: 0 auto;
}
.divHome .carousel .carrousel-item img {
  max-height: 300px;
  object-fit: cover;
}

/*media mobil*/
@media (min-width: 300px) {
  header {
    height: 100px;
  }
  header img {
    height: 100px;
    width: 100px;
  }
  ul {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
  }
  li {
    width: 20%;
    text-align: center;
    font-size: 20px;
  }
  .divHome {
    display: flex;
    margin: 0 auto;
  }
  .divHome .contenido-texto {
    display: flex;
    flex-direction: column;
  }
  .divHome .contenido-texto h2 {
    font-size: 1.7rem;
  }
  .divHome .logo img {
    height: 250px;
    width: auto;
  }
}
/* fin media mobile*/
/* media escritrio*/
/* footer*/
.pie-pagina {
  display: flex;
  background: linear-gradient(to bottom, rgb(183, 169, 189), rgb(225, 196, 243));
  justify-content: space-between;
  font-size: 15px;
  padding: 20px 20px;
}
.pie-pagina .redes-sociales {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.pie-pagina .enlace-red {
  color: rgb(89, 61, 101);
  text-decoration: none;
  font-size: 15px;
  font-family: "ubuntu";
}

@media (min-width: 1200px) {
  header {
    height: 200px;
  }
  header img {
    height: 200px;
    width: auto;
  }
  h1 {
    font-size: 70px;
  }
  /* intro pag */
  .divHome .logo img {
    height: 400px;
    width: auto;
  }
  /*footer*/
  .pie-pagina {
    align-items: center;
  }
  .pie-pagina .redes-sociales {
    justify-content: center;
  }
  .pie-pagina .enlace-red {
    justify-content: center;
    margin-left: 70px;
  }
}

/*# sourceMappingURL=styles.css.map */
