@import 'partials/_contacto';
@import 'partials/_servicios';
@import 'partials/_cuenta';
@import 'partials/_registro';
@import 'partials/_variables';




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
    
}

/*estilo header*/

header{
    padding-top: 0;
    background: linear-gradient(to bottom, rgb(183, 169, 189), rgb(225, 196, 243));
    height: 100%;
    width: 100%;

    img{
      height: auto;
      width: 250px

    }
    
}


/*estilo barra nav*/


ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    
    
}


li{
    display: block;
    margin: 10px;
    text-align: center;
}


/*estilo titulos/textos*/


h1{
    color: rgb(118, 79, 124);
    font-size: 2rem;
    font-family: "Dancing+Script";
    text-align: center;
    font-weight: 300px;
    text-shadow: 2px 2px 4px #888;
    
}


h2{
    font-size: 1.5rem;
    font-family: "Ubuntu";
    text-align: center;
    
    
}

h3{
    font-size:1.7rem;
    font-family: "Ubuntu";
    text-align: center;
    
    
}

p{
    text-align: center;
    color: rgb(89, 61, 101);
    font-family: "Ubuntu";
    font-size: 1.3rem;
    text-align: center;
    
    
    
}

/*estilo home*/

.divHome{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* Efecto de transparencia y rebote en el logo*/
    .logo{
        img{
            max-width: 400px;
            margin-bottom: 20px;
            opacity: 0;
            transform: translateY(-20px);
            animation: fadeInBounce 3s forwards;
            @keyframes fadeInBounce {
                0%{
                    opacity: 0;
                    transform: translateY(-20px);
                }
                60%{
                    opacity: 1;
                    transform: translateY(0);
                }
                80%{
                    transform: translateY(-10px);
                    
                }
                100%{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            
        }
    }
    
    .contenido-texto{
        text-align: center;
        margin-bottom: 40px;
        width: 100%;
        
        
        p{
            font-size: 20px;
        }
        
        
    }
    
    .carousel{
        max-width: 70%;
        margin: 0 auto;
        
        
        .carrousel-item{
            img{
                max-height: 300px;
                object-fit: cover;
            }
            
        }
    }
    
    
}




/*media mobil*/

@media (min-width: $medidamq-celu){
    
    
    header{
        height: 100px;
        
        img{
            height: 100px;
            width: 100px;
        }
        
    }
    
    
    ul{
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
        align-items: center;
    }
    
    li{
        width: 20%;
        text-align: center;
        font-size: 20px;
        
    }
    
    .divHome{
        display: flex;
        margin: 0 auto;


       
        
        .contenido-texto {
            display: flex;
            flex-direction: column;
            
            
            h2{ 
            font-size: 1.7rem;
        }

      }
    
        .logo{
            img{
            height: 250px;
            width: auto;
        }
      }

  

    }






} 



/* fin media mobil*/







/* footer*/

.pie-pagina {
    display: flex;
    background: linear-gradient(to bottom, rgb(183, 169, 189), rgb(225, 196, 243));
    justify-content: space-between;
    font-size: 15px;
    padding: 20px 20px;
    
    
    
    
    .redes-sociales {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        
        
    }
    
    .enlace-red {
        color: rgb(89, 61, 101);
        text-decoration: none;
        font-size: 15px;
        font-family: "ubuntu";
        
    }
    
}


/* media escritrio*/
    
    
    
    @media (min-width: $medidamq-pc){


        header{
            height: 200px;

            img{
                height: 200px;
                width: auto;

            }
        }
        
        h1{
            font-size: 70px;
            
        }
        
        /* intro pag */ 
        
        .divHome{
            
            
            .logo{
                img{
                    height: 400px;
                    width: auto;
                }
            }
            
            
        }

        /*footer*/
        
        .pie-pagina {
            align-items: center;
            
            .redes-sociales {
                justify-content: center;
                
            }
            
            .enlace-red {
                justify-content: center;
                margin-left: 70px;
            
        }
    }
    
    
    
    
}

