@import '_variables';

/* Estilo contacto*/

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    background: hsl(282, 100%, 97%) ;
    border-top: 3px solid rgb(89, 61, 101);
    border-radius: 10px;
    
   
    
    .g-map{
        background-color: #705790;
        padding: 20px;
        
        
       
        iframe{
            width: 100%;
            height: 350px;
            border: 1px solid #6f4e78;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
        
    }
}
  
/* Ajustes para vista escritorio*/

    @media (min-width: $medidamq-pc){
        .contacto{
           

            h2{
                font-size: 2.5rem;
            }

            h3{
                font-size: 2.5rem;

            }


            #direccion{
                font-size: 1.4rem;
            }
            
          
            
            
            .g-map {
                width: 450px;
                height: 450px;
                 
                iframe{
                    width: 400px;
                    height: 400px;

                }
                
            }
            
        }

    }
    
    

