@import '_variables';

.contacto{
    
    .g-map{
        background-color: #705790;
        padding: 20px;
        
        
        
        .g-map iframe{
            display: block;
            width: 90%;
            height: 450px;
            border: 1px solid #6f4e78;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
        
    }
    
    @media (min-width: $medidamq-celu){
        h1{
            font-size: 60px;
        }

        h2{
            font-size: 30px;
        }

      
        .g-map {
            width: 100%;
            align-items: center;
        }

        .g-map iframe{
            width: 100%;
        }
        
        #direccion{
            text-align: center;
        }

        #cel-mail{
            text-align: center;
            font-size: 15px
        }



    }

    @media (min-width: $medidamq-pc){
        
        #direccion{
            font-size: 25px;
            grid-area: texto;
        }
        
        #cel-mail{
            font-size: 25px;
            grid-area:texto0;
        }

        

        .g-map {
            grid-area: mapa;
        
        }


    }
}
    
    

