@import '_variables';

.contacto{
    
    @media (min-width: $medidamq-celu){
        h1{
            font-size: 60px;
        }

        h2{
            font-size: 30px;
        }

      
        .g-map {
            width: 100%;
            align-items: center;
        }

        .g-map iframe{
            width: 100%;
        }
        
        #direccion{
            text-align: center;
        }

        #cel-mail{
            text-align: center;
            font-size: 15px
        }



    }

    @media (min-width: $medidamq-pc){
        
        #direccion{
            font-size: 25px;
            grid-area: texto;
        }
        
        #cel-mail{
            font-size: 25px;
            grid-area:texto0;
        }

        

        .g-map {
            grid-area: mapa;
        
        }


    }
}
    
    

