@import '_variables';

$color-principal: #d097f6;
$color-secundario: #0d0711;


.contenido-formulario{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 1px;
    gap: 10px;
    
    
    
    .form-cuenta{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #755c7c;
        box-shadow: 6px 6px rgba(209, 204, 204, 0.493);
        border-radius: 10px;
        font-family: "ubuntu";
        
        
        input{
            border: 1px solid #a059b0;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        
        input[type="submit"]{
            background-color: #755c7c1f;
            color: #544158;
            border-top: 2px solid rgb(109, 105, 105);
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
        }
    
    
    
    }
    
 
}
    
/* Ajustes para vista escritorio*/

    
    @media (min-width: $medidamq-pc){

        .contenido-formulario{
            flex-direction: row;
            
            .form-cuenta{
                display: flex;
                flex-direction: row;
                width: 600px;
                flex-wrap: wrap;
                gap: 15px;

            }

            
            
        }
        
       
        
        
        
    }
    
    
    
