@import '_variables';


.divHome{
    display: flex;
    text-align: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    
    
}





.carousel{
    display: grid;
    height: 200px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    
    .carousel-item img{
        max-width: 600px;
        max-width: 100%;
        object-fit: cover;
        
        
    }
    
    
}

/* pise la clase del carousel de boostrap(no se si es lo correcto)- */

