@mixin input-form{
    width: 100%;
    background-color: rgb(203 177 209 / 36%);
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    border-left: 3px solid #544158;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;

}

@mixin input-submit-reset{
    width: 100%;
    color: #544158;
    border: none;
    border-top: 2px solid rgb(109, 105, 105);
    border-radius: 5px;
    padding: 10px 20px;
    cursor:pointer;
    display: inline-block;
    font-weight: bold;

    

<<<<<<< HEAD
    &:hover{
        background-color: #4f3355e5;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        transform:scale(1.05);
        transition: all 0.3s ease-in-out;

        
    }
    

=======
>>>>>>> 9dc47fb0617a9c4772d19b9fa07cb643638fed5a
}

@mixin contenedor-form{
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 1px;

}

@mixin form{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    max-width: 700px;
=======
    max-width: 600px;
>>>>>>> 9dc47fb0617a9c4772d19b9fa07cb643638fed5a
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #755c7c;
    box-shadow: 6px 6px rgba(209, 204, 204, 0.493);
    border-radius: 10px;
    font-family: "ubuntu";
}

@mixin label{
    font-size: 16px;
    font-weight: bold;
    color: #422c50;
    display: block;
    margin-bottom: 5px;

}