@import '_variables';
@import '_mixins';


.contenido-formulario{
    
    
    
    .form-cuenta{
        
        
        input{
         @include input-form;
        }
        
        input[type="submit"], input[type="reset"]{
         @include input-submit-reset;
        }

    }
    
 
}

/* Ajustes para vista escritorio*/

    
    @media (min-width: $medidamq-pc){

        .contenido-formulario{
            box-sizing: content-box;
            
            .form-cuenta{
                width: auto;
                display: flex;
                flex-direction:row;
                width: 600px;
                flex-wrap: wrap;
                gap: 15px;

            }

            
            
        }
        
       
        
        
        
    }
    