@import '_variables';
@import '_mixins';


.contenedor-registro{
    @include contenedor-form;
    
    
    
    .form-reg{
        @include form;
        
        input{
         @include input-form;
        }
        
        input[type="submit"], input[type="reset"]{
         @include input-submit-reset;
        }

        label{
            @include label
        }
    

    }
    
 
}

/* Ajustes para vista escritorio*/

    
    @media (min-width: $medidamq-pc){

        .contenedor-registro{
            box-sizing: content-box;
            
            .form-reg{
                width: auto;
                display: flex;
                flex-direction:row;
                width: 600px;
                flex-wrap: wrap;
                gap: 15px;

            }

            
            
        }
        
       
        
        
        
    }
    