@import '_variables';
@import '_mixins';


.contenido-formulario-registro{
    @include contenedor-form;
    
    
    
    .form-registro{
        @include form;

        label{
            @include label;
        }
        
        input{
         @include input-form;
        }
        
        input[type="submit"], input[type="reset"]{
         @include input-submit-reset;
        }

    }
    
 
}

/* Ajustes para vista escritorio*/

    
    @media (min-width: $medidamq-pc){

        .contenido-formulario-registro{
            box-sizing: content-box;
            
            .form-registro{
                width: auto;
                display: flex;
                flex-direction:row;
                justify-content: space-between;
                width: 600px;
                flex-wrap: wrap;
                gap: 15px;


            }

            
            
        }
        
       
        
        
        
    }
    