@import '_variables';


/*estilo servicios*/

.servicios{
    background-color: #ead9ee;
    border: 3px solid #380d59;
    display: grid;
    margin: 10px;
    padding: 10px;
    gap: 20px;

    
 
    .servis{
        border: 1px solid black;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 350px 400px 30px;
        grid-template-areas:
            "titulo"
            "imagen"
            "descripcion"
            "btn";
        gap: 10px;
        align-items: center;
       

        h2{
            font-size: 1.5rem;
            margin-bottom: 10px;
            grid-area: titulo;
            
        }
        p{
            text-align: center;
            grid-area: descripcion;
            
            
            
        }

        .foto{
            border: 1px ;
            border-radius: 8px;
            margin-bottom: 10px;
            max-height: 80%;
            max-width: 80%;
            transition: opacity 5s;
            position: relative;
            object-fit: cover;
            align-self: center;
            justify-self: center ;
            grid-area: imagen;

            


            &.dos{
                opacity: 0;
            }

        }
        
       
    }

    .btn-cita{
        margin-top: 10px;
        background-color: #380d59;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        grid-area: btn;
        

        &:hover {
            background-color: #280d39;
        }

       
    }
   
      
  }



  

   
    
        
        @media (min-width: $medidamq-pc){

            .servicios{
                display: flex;
                flex-direction: row;

            }


            .servis{
                display: flex;
                flex-direction:row

                
                

            }

            .foto{
                height: 400px;
                width: 360px;
            }

        }
        
        


