@import '_variables';


/*estilo servicios*/

.contenedor-servicios{
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, nimax(250px,1fr));
    gap: 20px;


    

    
 
    .servis{
        background-color: #ead9ee;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        text-align: center;
        padding: 10px;

        
        img{
            border-radius: 10px;
            width: 50%;
            height: 50%;
            object-fit: cover;
            
        }
        /*Este selector aplica un efecto de zoom a la imagen al pasar el cursos */
        &:hover{
            transform: translateY(-10px);
            box-shadow: 0 6px 12px rgba(0,0,0,0.2);
            
            img{
                width: 250px;
                height: 250px;
                object-fit: cover;
                transition: transform 0.5s ease;
                
            }
        }
        
        
       

        h2{
            font-size: 1.5rem;
            margin: 15px 0;
            color:#280d39;
            font-weight: 700;
            
        }

        .descripcion{
            font-size: 1rem;
            color: #380d59;
            margin: 10px;
            padding: 0 15px;
        }

        .precio{
            font-size: 1.25rem;
            font-weight: bold;
            color:#380d59;
            margin: 10px 0;
        }
        
        /* */
        .btn-cita{
            background-color: #380d59;
            color: white;
            border-radius: 6px;
            margin-bottom: auto;
            padding: 15px;
            cursor: pointer;
            
            
            &:hover {
                background-color: #280d39;
            }
            
        }
        
        
    }
      



}
   
   @media (min-width: $medidamq-celu){
        .servis{
            height: 650px;
        }

   }
  

   
/* media escritrio*/
    
        
    @media (min-width: $medidamq-pc){
        .contenedor-servicios{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:60px;


            .servis{
                height: auto;

                img{
                    width: 300px;
                    height: 400px;

                }    
            } 

           
         
        }


           
    }
    

    
    