@import '_variables';


/*estilo servicios*/

.servicios{
    background-color: #ead9ee;
    border: 3px solid #380d59;
    width:100%;
    height: 100%;
    padding: 20px;
    display: grid;
    gap: 20px;
    margin: 10px;
    


    
    .servis{
        border: 1px solid black;
        padding: 20px;
        width: 300px;
        height: 600px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 350px auto 30px;
        grid-template-areas:
            "titulo"
            "imagen"
            "descripcion"
            "btn";
        gap: 10px;
        align-items: center;
       

        h2{
           
            margin-bottom: 10px;
            grid-area: titulo;
           
        }
        p{
            grid-area: descripcion;
            text-align: center;
            
            
        }
        .foto{
            border: 1px ;
            border-radius: 8px;
            margin-bottom: 10px;
            height: 300px;
            min-width: 260px;
            transition: opacity 5s;
            position: absolute;
            object-fit: cover;
            grid-area: imagen;
            align-self: center;
            justify-self: center ;

            


            &.dos{
                opacity: 0;
            }

        }
        
        &:hover{
          .foto{

             &:first-child{
                opacity: 0;
             }

             &:last-child{
                opacity: 0;
             }
            }
        }
    }

    .btn-cita{
        margin-top: 10px;
        background-color: #380d59;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        grid-area: btn;
        

        &:hover {
            background-color: #280d39;
        }
    }

   
        
        @media (min-width: $medidamq-celu){
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            
            
            h2{
                font-size: 2rem;
                margin-bottom: 10px;
            }
         
            p{
                text-align: center;
                
                
            }
        }
        
        @media (min-width: $medidamq-pc){
            display: flex;
            flex-direction: row;
        }
        
        
}
